<section>
    <header>
        <h1 class="post-header">
            <a class="post-title" href="#">Big Post Title 7.20</a>
            <span class="post-info">
                BY
                <a class="post-author" href="#">danjfreire</a>
                ON DECEMBER 30, 2020
            </span>
        </h1>
    </header>
    <article>
        <div class="post-image">
        </div>
        <p class="post-resume">Most big tournaments were already over before the patch hit, but there are still some ongoing competitions we would like to quickly analyze. After all, professional players are almost always a step or two ahead of everyone.</p>

    </article>

</section>