article {
    background: #242F39;
    padding: 4px;
    box-shadow: 0 0 3px rgba(10, 10, 10, 0.4);
}

.post-header {
    margin: 0;
    margin-top: 10px;
    padding: 6px 4px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: normal;
}

.post-title {
    text-shadow: 1px 1px 2px black;
    text-decoration: none;
    color: #A9CF54;
}

.post-info {
    font-size: 13px;
    color: rgba(255, 255, 255, 0.6);
}

.post-author {
    text-decoration: none;
    color: white;
}

.post-image {
    height: 300px;
    width: 100%;
    background-color: white;
}

.post-resume {
    color: #cccccc;
    margin: 0;
    padding: 4px;
    font-size: 14px;
    line-height: 1.5em;
}