<div id="header">
   <div id="logo-container">
      <i id="logo" class="fab fa-youtube"></i>
      <span id="logo-text">YouTubil</span>
   </div>

   <div id="search-container">
      <form id="search-form">
         <div id="input-container">
            <input id="search-input" type="text" placeholder="Pesquisar">
            <i id="keyboard-icon" class="fas fa-keyboard"></i>
         </div>
         <button><i id="search-icon" class="fa fa-search"></i></button>
         <i id="mic-icon" class="fas fa-microphone"></i>
      </form>
   </div>

   <div id="actions-container">
      a
   </div>
</div>