<div class="menu-container">
    <div class="menu-item">
        <i class="fas fa-caret-square-right"></i>
        <span>Biblioteca</span>
    </div>
    <div class="menu-item">
        <i class="fas fa-history"></i>
        <span>Histórico</span>
    </div>
    <div class="menu-item">
        <i class="far fa-caret-square-right"></i>
        <span>Seus Vídeos</span>
    </div>
    <div class="menu-item">
        <i class="fas fa-clock"></i>
        <span>Assistir mais tarde</span>
    </div>
    <div class="menu-item">
        <i class="fas fa-thumbs-up"></i>
        <span>Vídeos marcados como gostei</span>
    </div>
</div>