<section class="activity-card">
    <header class="activity-header">
        taxas de vitória de herói
        <span class="activity-info">esta semana</span>

        <div class="activity-more">
            <a href=""> <i class="fa fa-plus-square"></i> mais</a>
        </div>
    </header>
    <div class="activity-body">
        <table>
            <thead>
                <th colspan="2">Herói</th>
                <th>Aproveitamento</th>
                <th>Mudança</th>
            </thead>
            <tbody>
                <tr>
                    <td class="table-cell tiny-cell">
                        <div class="fake-hero-image"></div>
                    </td>
                    <td class="table-cell"> <a class="hero-name" href="#">Hero 1</a> </td>
                    <td class="table-cell">50.00%</td>
                    <td class="table-cell"> <i class="fa fa-sort-up positive"></i> 2.00%</td>

                </tr>
                <tr class="even-row">
                    <td class="table-cell tiny-cell">
                        <div class="fake-hero-image"></div>
                    </td>
                    <td class="table-cell"> <a class="hero-name" href="#">Hero 1</a> </td>
                    <td class="table-cell">50.00%</td>
                    <td class="table-cell"> <i class="fa fa-sort-up positive"></i> 2.00%</td>

                </tr>
                <tr>
                    <td class="table-cell tiny-cell">
                        <div class="fake-hero-image"></div>
                    </td>
                    <td class="table-cell"> <a class="hero-name" href="#">Hero 1</a> </td>
                    <td class="table-cell">50.00%</td>
                    <td class="table-cell"> <i class="fa fa-sort-up positive"></i> 2.00%</td>

                </tr>
                <tr class="even-row">
                    <td class="table-cell tiny-cell">
                        <div class="fake-hero-image"></div>
                    </td>
                    <td class="table-cell"> <a class="hero-name" href="#">Hero 1</a> </td>
                    <td class="table-cell">50.00%</td>
                    <td class="table-cell"> <i class="fa fa-sort-down negative"></i> 2.00%</td>

                </tr>
                <tr>
                    <td class="table-cell tiny-cell">
                        <div class="fake-hero-image"></div>
                    </td>
                    <td class="table-cell"> <a class="hero-name" href="#">Hero 1</a> </td>
                    <td class="table-cell">50.00%</td>
                    <td class="table-cell"> <i class="fa fa-sort-down negative"></i> 2.00%</td>

                </tr>
                <tr class="even-row">
                    <td class="table-cell tiny-cell">
                        <div class="fake-hero-image"></div>
                    </td>
                    <td class="table-cell"> <a class="hero-name" href="#">Hero 1</a> </td>
                    <td class="table-cell">50.00%</td>
                    <td class="table-cell"> <i class="fa fa-sort-down negative"></i> 2.00%</td>

                </tr>
            </tbody>
        </table>
    </div>

</section>