@import '../shared/activity-style.css';
.activity-card {
    margin-top: 5px;
}

.fake-user-picture {
    background-color: white;
    width: 24px;
    height: 24px;
    margin: 0;
}

.forum-post-title {
    text-decoration: none;
    font-size: 12px;
    color: #a9cf54;
}

.forum-post-info {
    font-size: 11px;
    min-height: 14px;
    color: rgba(255, 255, 255, 0.6);
}