<section class="activity-card">
    <header class="activity-header">
        Atividade do Fórum

        <div class="activity-more">
            <a href=""> <i class="fa fa-plus-square"></i> mais</a>
        </div>
    </header>
    <article class="activity-body">
        <table>
            <tbody>
                <tr>
                    <td>
                        <a class="forum-post-title" href="#">post title</a>
                        <div class="forum-post-info">10 respostas, 5 hours ago</div>
                    </td>
                    <td class="tiny-cell">
                        <div class="fake-user-picture"></div>
                    </td>
                </tr>
                <tr class="even-row">
                    <td>
                        <a class="forum-post-title" href="#">post title</a>
                        <div class="forum-post-info">10 respostas, 5 hours ago</div>
                    </td>
                    <td class="tiny-cell">
                        <div class="fake-user-picture"></div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a class="forum-post-title" href="#">post title</a>
                        <div class="forum-post-info">10 respostas, 5 hours ago</div>
                    </td>
                    <td class="tiny-cell">
                        <div class="fake-user-picture"></div>
                    </td>
                </tr>
                <tr class="even-row">
                    <td>
                        <a class="forum-post-title" href="#">post title</a>
                        <div class="forum-post-info">10 respostas, 5 hours ago</div>
                    </td>
                    <td class="tiny-cell">
                        <div class="fake-user-picture"></div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a class="forum-post-title" href="#">post title</a>
                        <div class="forum-post-info">10 respostas, 5 hours ago</div>
                    </td>
                    <td class="tiny-cell">
                        <div class="fake-user-picture"></div>
                    </td>
                </tr>
                <tr class="even-row">
                    <td>
                        <a class="forum-post-title" href="#">post title</a>
                        <div class="forum-post-info">10 respostas, 5 hours ago</div>
                    </td>
                    <td class="tiny-cell">
                        <div class="fake-user-picture"></div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a class="forum-post-title" href="#">post title</a>
                        <div class="forum-post-info">10 respostas, 5 hours ago</div>
                    </td>
                    <td class="tiny-cell">
                        <div class="fake-user-picture"></div>
                    </td>
                </tr>
                <tr class="even-row">
                    <td>
                        <a class="forum-post-title" href="#">post title</a>
                        <div class="forum-post-info">10 respostas, 5 hours ago</div>
                    </td>
                    <td class="tiny-cell">
                        <div class="fake-user-picture"></div>
                    </td>
                </tr>

            </tbody>
        </table>
    </article>

</section>