<div class="menu-container">
    <div class="menu-item">
        <i class="fas fa-home"></i>
        <span>Início</span>
    </div>
    <div class="menu-item">
        <i class="fas fa-compass"></i>
        <span>Explorar</span>
    </div>
    <div class="menu-item">
        <i class="fab fa-youtube"></i>
        <span>Inscrições</span>
    </div>
    <div class="menu-item">
        <i class="fab fa-youtube"></i>
        <span>Originais</span>
    </div>
    <div class="menu-item">
        <i class="fab fa-youtube"></i>
        <span>Início</span>
    </div>
</div>