<div id="nav-bar">
    <div id="inner-nav">

        <div id="logo-container">
            <a class="logo hide-on-mobile" href="#">DOTADEBUFF</a>
            <a class="logo show-on-mobile" href="#" (click)="toggleMenu($event)"><i class="fa fa-bars menu-toggle"></i>DOTADEBUFF</a>
        </div>

        <nav class="hide-on-mobile">
            <ul>
                <li><a (mouseenter)="showNav()" class="color-esports" href="#">ESports</a> </li>
                <li><a (mouseenter)="showNav()" href="#">Heróis</a> </li>
                <li><a (mouseenter)="showNav()" href="#">Itens</a> </li>
                <li><a (mouseenter)="showNav()" href="#">Jogadores</a> </li>
                <li><a (mouseenter)="showNav()" href="#">Partidas</a> </li>
                <li><a (mouseenter)="hideNav()" href="#">Blog</a> </li>
                <li><a (mouseenter)="hideNav()" href="#">Fóruns</a> </li>
                <li><a (mouseenter)="hideNav()" class="color-plus" href="#">Plus</a> </li>
            </ul>
        </nav>
    </div>
</div>

<div *ngIf="navExpand" class="hide-on-mobile" id="outer-nav-bar">
    <div class="outer-nav">
        <nav>
            <ul>
                <li><a href="#">Item 1</a> </li>
                <li><a href="#">Item 2</a> </li>
                <li><a href="#">Item 3</a> </li>
                <li><a href="#">Item 4</a> </li>
                <li><a href="#">Item 5</a> </li>
                <li><a href="#">Item 6</a> </li>
                <li><a href="#">Item 7</a> </li>
            </ul>
        </nav>
    </div>
</div>

<div *ngIf="isMenuToggled" class="mobile-menu show-on-mobile">
    <nav>
        <ul>
            <li><a (mouseenter)="showNav()" class="color-esports" href="#">ESports <i class="fa fa-caret-right right-arrow"></i></a> </li>
            <li><a (mouseenter)="showNav()" href="#">Heróis <i class="fa fa-caret-right right-arrow"></i></a> </li>
            <li><a (mouseenter)="showNav()" href="#">Itens <i class="fa fa-caret-right right-arrow"></i></a> </li>
            <li><a (mouseenter)="showNav()" href="#">Jogadores <i class="fa fa-caret-right right-arrow"></i></a> </li>
            <li><a (mouseenter)="showNav()" href="#">Partidas <i class="fa fa-caret-right right-arrow"></i></a> </li>
            <li><a (mouseenter)="hideNav()" href="#">Blog </a> </li>
            <li><a (mouseenter)="hideNav()" href="#">Fóruns</a> </li>
            <li><a (mouseenter)="hideNav()" class="color-plus" href="#">Plus</a> </li>
        </ul>
    </nav>

    <div class="outer-nav-mobile">
        <div class="outer-nav">
            <nav>
                <ul>
                    <li><a href="#">Item 1</a> </li>
                    <li><a href="#">Item 2</a> </li>
                    <li><a href="#">Item 3</a> </li>
                    <li><a href="#">Item 4</a> </li>
                    <li><a href="#">Item 5</a> </li>
                    <li><a href="#">Item 6</a> </li>
                    <li><a href="#">Item 7</a> </li>
                </ul>
            </nav>
        </div>
    </div>
</div>