<div id="nav-bar">
    <div id="inner-nav">
        <div id="logo-container">
            <a id="logo" href="#">DOTADEBUFF</a>
        </div>
        <nav>
            <ul>
                <li><a class="color-esports" href="#">ESports</a> </li>
                <li><a href="#">Heróis</a> </li>
                <li><a href="#">Itens</a> </li>
                <li><a href="#">Jogadores</a> </li>
                <li><a href="#">Partidas</a> </li>
                <li><a href="#">Blog</a> </li>
                <li><a class="color-plus" href="#">Plus</a> </li>
            </ul>
        </nav>
    </div>
</div>