#nav-bar {
    background-color: #242F39;
    height: 32px;
}

#inner-nav {
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

#logo-container {
    background-color: #ED3B1C;
    width: 140px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
}

#logo {
    display: block;
    color: white;
    text-decoration: none;
    font-family: Arial, sans-serif;
    font-size: 20px;
}

nav li {
    float: left;
    color: white;
    list-style-type: none;
}

nav li a {
    display: block;
    height: 20px;
    text-align: center;
    color: white;
    padding: 8px 6px 4px 6px;
    text-decoration: none;
    font-family: 'Lucida Grande', Tahoma, Verdana, Arial, sans-serif;
    font-size: 14px;
}

nav li a:hover {
    color: #ED3B1C;
    background-color: #2E3740;
}

.color-esports {
    color: #39CCCC !important;
}

.color-plus {
    color: #FBB829 !important;
}