<div class="menu-container">
    <h1>MAIS DO YOUTUBIL</h1>
    <div class="menu-item">
        <i class="fas fa-film"></i>
        <span>Filmes</span>
    </div>
    <div class="menu-item">
        <i class="fas fa-gamepad"></i>
        <span>Jogos</span>
    </div>
    <div class="menu-item">
        <i class="fas fa-signal"></i>
        <span>Ao vivo</span>
    </div>
    <div class="menu-item">
        <i class="fas fa-lightbulb"></i>
        <span>Aprender</span>
    </div>
    <div class="menu-item">
        <i class="fas fa-trophy"></i>
        <span>Esportes</span>
    </div>
</div>