#container {
    min-height: 100vh;
    overflow-x: hidden;
}

#site-selector {
    display: flex;
    align-items: center;
    background-color: white;
    border-bottom: 2px solid grey;
    margin: 0px;
    height: 50px;
    position: sticky;
    top: 0px;
    width: 100%;
    overflow:hidden;
}

#site-content {
    width: 100%;
    position: fixed;
    top: 52px;
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 8px;
    padding: 0px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #d3d3d3;
}