<app-dotabuff-header>
</app-dotabuff-header>
<div id="main-content">
    <div id="posts">
        <div id="search-form">
            <form>
                <input id="search-input" type="text" placeholder="Procure por heróis, jogadores ou partidas...">
                <button id="search-button">
                    <i class="fa fa-search"></i>
                    BUSCA
                </button>
            </form>
        </div>

        <app-dotabuff-post></app-dotabuff-post>
        <app-dotabuff-post></app-dotabuff-post>
        <app-dotabuff-post></app-dotabuff-post>
        <app-dotabuff-post></app-dotabuff-post>
    </div>

    <div id="activity">

    </div>
</div>