::ng-deep body {
    background-color: #1C242D !important;
}

#main-content {
    font-family: 'Lucida Grande', Tahoma, Verdana, Arial, sans-serif;
    background-color: #1C242D;
    margin: 0px auto;
    max-width: 1200px;
    overflow-x: hidden;
}

.ad-text {
    color: orange;
}

#posts {
    width: 66%;
    height: 100%;
    background-color: #1C242D;
    float: left;
}

#activity {
    width: 34%;
    height: 100%;
    float: left;
    background-color: #1C242D;
}

#search-form {
    background-color: #242F39;
    height: 62px;
    width: 100%;
    margin: 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    margin: 0;
    width: 80%;
}

#search-input {
    background-color: #1C242D;
    color: white;
    width: 80%;
    min-height: 36px;
    border: none;
    border-radius: 0;
    box-shadow: 0 0 3px rgba(10, 10, 10, 0.4);
    padding: 0px 8px;
}

#search-input:focus {
    outline: none !important;
    background-color: #202933;
}

#search-button {
    display: inline-block;
    background-color: #242D31;
    border-radius: 0;
    border-style: solid;
    border-width: 1px;
    border-color: #92bb35;
    color: #92bb35;
    line-height: 13px;
    letter-spacing: 0.5px;
    padding: 9px 13px;
    margin-left: 2px;
}

@media only screen and (max-width: 1024px) {
    #posts {
        width: 100%;
    }
    #activity {
        width: 100%;
    }
}