/* 
    Custom properties defined at root
*/
:root {
    --main-color: coral;
    --secondary-color : aqua;
}

body {
    margin: 0;
}

header {
    height: 4rem;
    background-color: var(--main-color);
}

.content {
    height: 90vh;
    width: 900px;
    margin: 0px auto;
    background-color: var(--secondary-color);
}

/*
    You can add a fallback to custom properties
*/
p {
    color: var(--default-color, white);
    margin: 0px;
}